@inject IJSRuntime JS

<section class="post post-full">
    <PostTitleBar Post="@Post"/>

    <PostContent Post="@Post"
                 ForceFullRender="@true"/>

    <PostMeta Post="@Post"  
              ShowReadMore="@false"/>
</section>

@code {
    [Parameter]
    public required Post Post { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("xaelith.highlightAll");
        }
    }
}