@inject IJSRuntime JS

<section class="post">
    <PostTitleBar Post="@Post"/>

    <PostContent Post="@Post"
                 ForceFullRender="@false"/>

    <PostMeta Post="@Post"
              ShowReadMore="@Post.HasPageBreak" />
</section>

@code {
    [Parameter]
    public required Post Post { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("xaelith.highlightAll");
    }
}