@inject IConfigService Configuration;

<div class="post-meta">
    <div class="post-meta-items">
        <span class="post-meta-item post-meta-author">
            @Post.Metadata.Author
        </span>

        <span class="post-meta-item post-meta-date">
            @(Post.Metadata.PublishDate?.ToString(
                Configuration.Root!.General.DateFormat
            ) ?? string.Empty)
        </span>

        <span class="post-meta-item post-meta-category">
            @if (!string.IsNullOrWhiteSpace(Post.Metadata.Category))
            {
                <a href="/category/@Post.Metadata.Category">
                    @Post.Metadata.Category
                </a>
            }
            else
            {
                @("no category");
            }
        </span>

        @if (Post.Metadata.Tags.Any())
        {
            <div class="post-meta-item post-meta-tags">
                <ul>
                    @foreach (var tag in Post.Metadata.Tags)
                    {
                        <li><a href="/tag/@tag">@tag</a></li>
                    }
                </ul>
            </div>
        }
    </div>

    @if (ShowReadMore)
    {
        <div class="post-meta-break">
            <a href="/view/@Post.Metadata.Slug">// read more _</a>
        </div>
    }
</div>

@code {
    [Parameter]
    public required Post Post { get; set; }

    [Parameter]
    public required bool ShowReadMore { get; set; }
}