@page "/tag/{tagname}"

@inject IConfigService Configuration
@inject IContentService Content
@inject IMarkdownService Markdown

<PageTitle>@Configuration.Root!.General.SiteTitle // Tag '@TagName'</PageTitle>

<HeadContent>
    <meta name="description"
          content="@Configuration.Root!.General.SiteDescription" />
</HeadContent>

<NavBar/>

<main>
    <div class="filter-header">
        <h1>Displaying posts tagged <pre>@TagName</pre></h1>

        @{
            var contentDescription = @Content.GetTagDescription(
                TagName
            );

            if (!string.IsNullOrWhiteSpace(contentDescription))
            {
                <h2>@((MarkupString)Markdown.Render(contentDescription))</h2>
            }
        }
    </div>

    @{
        var posts = Content.GetAllPosts(
            p => p.Published
                 && p.Type == PostType.Normal
                 && p.Tags.Contains(TagName)
        );

        <Paginator Posts="@posts" />
    }
</main>

<Footer/>

@code {

    [Parameter, Required]
    public string TagName { get; set; } = string.Empty;

}