@layout AdminShell

@page "/admin/manage/categories"

@inject IModalService Modals;
@inject IToastService Toasts;

@inherits XaelithRestrictedPage

<h1 class="admin-view-title">@Title</h1>

<div class="admin-inner-content">
    <EditForm Model="Context" OnSubmit="@UpdateCategories">
        <div class="editor-toolbar">
            <button class="editor-save-button" type="submit">SAVE</button>

            <button class="category-editor-reset-button"
                    type="button"
                    @onclick="ResetState">
                DISCARD
            </button>

            <button class="category-editor-add-button"
                    type="button"
                    @onclick="AddEmptyCategory">
                NEW CATEGORY
            </button>
        </div>

        <div class="category-editor">
            <table class="admin-table">
                <thead>
                <tr>
                    <th class="category">category</th>
                    <th class="actions">actions</th>
                </tr>
                </thead>
                @for (var i = 0; i < Context.Categories.Count; i++)
                {
                    <tr>
                        @{
                            var index = i;

                            <td class="category">
                                <input type="text"
                                       id="category-name-@index"
                                       class="category-name-edit-field"
                                       @bind="@Context.Categories[index].Name"
                                       placeholder="Awaiting category name..."/>

                                <input type="text"
                                       id="category-description-@index"
                                       class="category-description-edit-field"
                                       @bind="@Context.Categories[index].Description"
                                       placeholder="Awaiting category description..."/>
                            </td>

                            <td class="actions">
                                <a class="danger"
                                   @onclick="@(() => DeleteCategory(index))">
                                    DELETE
                                </a>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;

    protected override string Title => "categories";

    private CategoryEditContext Context { get; } = new();
    private List<CategoryEditContext.Category> PreviousState { get; set; } = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        foreach (var (name, description) in Configuration.Root!.Content.Categories)
        {
            Context.Categories.Add(new(name, description));
        }

        Context.Categories = Context.Categories
            .OrderBy(x => x.Name)
            .ToList();

        PreviousState = new(Context.Categories);
    }

    private void UpdateCategories(EditContext editContext)
    {
        var context = (CategoryEditContext)editContext.Model;

        foreach (var category in context.Categories)
        {
            if (string.IsNullOrWhiteSpace(category.Name))
                continue;

            Configuration.Root!.Content.Categories[category.Name] = category.Description;
        }

        try
        {
            var uniqueEntries = context.Categories.Select(x => x.Name).Distinct();
            
            if (uniqueEntries.Count() != context.Categories.Count)
            {
                Toasts.Show(
                    "Category names must be unique",
                    ToastSeverity.Error,
                    3500
                );

                return;
            }

            if (context.Categories.SequenceEqual(PreviousState))
            {
                Toasts.Show(
                    "No changes detected - nothing to save",
                    ToastSeverity.Warning,
                    3500
                );

                return;
            }

            context.Categories = context.Categories
                .OrderBy(x => x.Name)
                .ToList();

            PreviousState = new(context.Categories);

            Configuration.Save();
            Toasts.Show(
                "Categories updated",
                ToastSeverity.Success
            );
        }
        catch (Exception e)
        {
            Toasts.Show(
                $"Failed to update categories: {e.Message}",
                ToastSeverity.Error
            );
        }
    }

    private void AddEmptyCategory()
        => Context.Categories.Insert(0, new(string.Empty, string.Empty));

    private void DeleteCategory(int index)
        => Context.Categories.RemoveAt(index);

    private async Task ResetState()
    {
        await Modals.ShowAsync(
            new DialogModalData(
                "Discard changes?",
                "Confirm discarding any changes made.<br/>" +
                "This action is irreversible.",
                "Discard",
                "Cancel",
                DialogModalSeverity.Warning,
                (result) =>
                {
                    if (result)
                        Context.Categories = [..PreviousState];
                }
            )
        );
    }
}