@layout AdminShell

@page "/admin/manage/categories"
@inherits XaelithRestrictedPage

@inject IModalService Modals;
@inject IToastService Toasts;

<h1 class="admin-view-title">@Title</h1>

<div class="admin-inner-content">
    <EditForm Model="ValueEditContext" OnSubmit="@SaveCategories">
        <DualValueEditor ValueEditContext="ValueEditContext"
                         FirstValueClass="category"
                         FirstValueId="category-name-edit-field"
                         FirstValuePlaceholder="Awaiting category name..."
                         SecondValueClass="description"
                         SecondValueId="catgory-description-edit-field"
                         SecondValuePlaceholder="Awaiting category description..."
                         ListContainerClass="category-editor"
                         OnDeleteRequested="@DeleteCategory"
                         OnAddRequested="@AddEmptyCategory"
                         OnDiscardRequested="@DiscardChanges"/>
    </EditForm>
</div>

@code {
    [CascadingParameter]
    public UserContext UserContext { get; set; } = null!;

    protected override string Title => "categories";

    private DualValueEditContext ValueEditContext { get; set; } = new();
    private DualValueEditContext PreviousState { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        foreach (var (name, description) in Configuration.Root!.Content.Categories)
        {
            ValueEditContext.Entries.Add(new(name, description));
        }

        ValueEditContext.Entries = ValueEditContext.Entries
            .OrderBy(x => x.FirstValue)
            .ToList();

        PreviousState = ValueEditContext.Copy();
    }

    private void SaveCategories(EditContext editContext)
    {
        var context = (DualValueEditContext)editContext.Model;

        try
        {
            if (context.Entries.Any(x => string.IsNullOrWhiteSpace(x.FirstValue)))
            {
                Toasts.Show(
                    "Empty category names are not allowed",
                    ToastSeverity.Warning,
                    3500
                );

                return;
            }

            var uniqueEntries = context.Entries.Select(x => x.FirstValue).Distinct();

            if (uniqueEntries.Count() != context.Entries.Count)
            {
                Toasts.Show(
                    "Category names must be unique",
                    ToastSeverity.Error,
                    3500
                );

                return;
            }

            Configuration.Root!.Content.Categories.Clear();
            foreach (var category in context.Entries)
            {
                if (string.IsNullOrWhiteSpace(category.FirstValue))
                    continue;

                Configuration.Root!.Content.Categories[category.FirstValue] = category.SecondValue;
            }

            context.Entries = context.Entries
                .OrderBy(x => x.FirstValue)
                .ToList();

            Configuration.Save();
            PreviousState = ValueEditContext.Copy();

            Toasts.Show(
                "Categories updated",
                ToastSeverity.Success
            );
        }
        catch (Exception e)
        {
            Toasts.Show(
                $"Failed to update categories: {e.Message}",
                ToastSeverity.Error,
                3500
            );
        }
    }

    private void AddEmptyCategory()
        => ValueEditContext.Entries.Insert(0, new(string.Empty, string.Empty));

    private void DeleteCategory(int index)
        => ValueEditContext.Entries.RemoveAt(index);

    private async Task DiscardChanges()
    {
        await Modals.ShowAsync(
            new DialogModalData(
                "Discard changes?",
                "Confirm discarding any changes made to categories.<br/>" +
                "This action is irreversible.",
                "Proceed",
                "Abort",
                DialogModalSeverity.Warning,
                (result) =>
                {
                    if (result)
                        ValueEditContext = PreviousState.Copy();
                }
            )
        );
    }
}